---
interface Props {
  url: string;
  imgPath: string;
  title: string;
  body: string;
}

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const { url, imgPath, title, body } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../../assets/*{jpeg,jpg,png,gif,webp}"
);

if (!images[imgPath])
  throw new Error(
    `"${imgPath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
---

<li class="list-none flex bg-cover bg-[400%] p-5">
  <a class="w-full no-underline leading-7 rounded-lg text-inherit" href={url}>
    <div class="flex justify-center">
      <Image
        class="rounded-md grayscale w-[226px] h-[127px] mb-4 transition-transform duration-200"
        width="226"
        height="127"
        src={images[imgPath]()}
        alt="ProjectImage"
      />
    </div>
    <h3 class="m-0 text-2xl font-grotesk text-center underline">
      {title}
    </h3>
    <p class="text-base leading-6 indent-0 font-josefin text-center mt-2 mb-0">
      {body}
    </p>
  </a>
</li>
<style>
  a:hover div img {
    filter: none;
    transform: scale(1.05);
  }
</style>
